* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1148px;
  border: 1px solid transparent;
  padding: 0 16px;
  margin: auto;
}
.header {
  width: 100%;
  position: absolute;
}
.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__collection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 27px;
}
.nav__title {
  list-style: none;
  transition: 1.25;
}
.nav__title:hover {
  transform: scale(1.1);
}
.nav__title a {
  color: rgb(177, 176, 176);
}
.nav__icon {
  position: relative;
}
.nav__icon p {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: blue;
  color: white;
  position: absolute;
  right: 0;
  top: -2px;
  text-align: center;
}
.nav__icon img:hover {
  cursor: pointer;
  background: rgb(121, 144, 207);
}

.hero {
  width: 100%;
  /* height: 500px; */
  background: black;
 
}
.hero__text {
  width: 456px;
  height: 465px;
}
.hero__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 162px 0 142px;
}
.hero__title h1 {
  font-size: 65px;
  color: white;
}
.hero__title p {
  font-size: 16px;
  color: rgb(206, 206, 206);
  margin: 30px 0 50px;
}
.hero__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(248, 247, 246);
  border: none;
  border-radius: 15px;
  padding: 10px;
}
.hero__btn img:hover {
  cursor: pointer;
  color: red;
}
.hero__btn input {
  border: none;
  width: 100%;
  height: 100%;
  font-size: 16px;
}
.hero__btn button {
  width: 112px;
  height: 45px;
  background: rgb(64, 64, 252);
  color: white;
  border: none;
  border-radius: 15px;
}
.hero__btn button:hover {
  transform: scaleX(1.2);
  color: red;
}
.hero__img {
  width: 50%;
  height: 563px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}
.hero__img img {
  width: 461px;
}
.cardD {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card__watch {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 73px;
}
.card__category {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 355px;
  height: 240px;
  background: gainsboro;
  border-radius: 15px;
  padding: 40px;
  gap: 30px;
}
.card__category img:hover {
  transform: scale(1.1);
}
.watch__text b {
  font-size: 36px;
}
.watch__text p {
  font-size: 16px;
}
.card__title {
  margin-top: 135px;
  font-size: 16px;
  color: dodgerblue;
}
.card h3 {
  font-size: 18px;
}
.card__box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 50px;
}
.clients__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-top: 25px;
}
.clients__box {
  width: 50%;
  height: 239px;
  border-radius: 15px;
  background: gainsboro;
  display: flex;
  padding: 20px;
  gap: 15px;
}
.clients__text {
  /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
  text-align: left;
  padding: 58px 0;
}
.clients__text b {
  font-size: 24px;
}
.clients__text p {
  font-size: 16px;
  margin: 10px 0;
}
.dot {
  margin-top: 43px;
}
.backg {
  margin: 70px 0;
}
.backg {
  width: 100%;
  background: gainsboro;
  padding: 25px;
  border-radius: 20px;
}
.backg__text {
  width: 456px;
  /* height: 465px; */
  padding: 50px 1;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.backg__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 100px 0 0; */
}
.backg__title h1 {
  font-size: 36px;
  color: rgb(12, 11, 11);
}
.backg__title p {
  font-size: 16px;
  color: rgb(8, 8, 8);
  margin-bottom: 15px;
}
.backg__btn {
  width: 443px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(248, 247, 246);
  border: none;
  border-radius: 15px;
  padding: 10px;
}
.backg__btn img:hover {
  cursor: pointer;
  color: red;
}
.backg__btn input {
  border: none;
  width: 100%;
  height: 100%;
  font-size: 16px;
}
.backg__btn button {
  width: 112px;
  height: 45px;
  background: rgb(64, 64, 252);
  color: white;
  border: none;
  border-radius: 15px;
}
.backg__btn button:hover {
  transform: scaleX(1.2);
  color: red;
}
.backg__img {
  width: 50%;
  /* height: 563px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}
.backg__img img {
  width: 272px;
}
.black {
  width: 100%;
  height: 60px;
  background: black;
}
.footer {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.footer b {
  font-size: 18px;
  color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}
.navbar {
  width: 100%;
  margin-inline: 1.5rem;
  padding-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: darkgray;
  padding: 10px;
  border-radius: 15px;
  animation: a 0.5s linear infinite alternate;
  .loader:before {
    content: "Loading...";
  }
  @keyframes a {
    to {
      opacity: -2;
    }
  }
}

.logo {
  color: #0004;
}





.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #0005;
  text-decoration: none;
  font-weight: 700;
  margin-left: 40px;
}

.navigation a::after {
  content: "";
  left: 0;
  bottom: -6px;
  transform: scaleX(0);
  transform-origin: right;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transition: transform 0.5s;
}

.navigation a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navigation .buttonlogin {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 600;
  margin-left: 40px;
  transition: 0.5s;
}

.navigation .buttonlogin:hover {
  background: #fff;
  color: #162938;
}

.wrapper {
  height: 100%;
  display: flex;
  /* border: 1px solid red; */
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  overflow: hidden;
}

.card {
  margin-top: 30px;
  width: 300px;
  padding: 16px;
  border-radius: 14px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  background: #d41f1f80;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 20px;
  overflow: hidden;
}

h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 16px;
  color: #000;
  cursor: pointer;
}

.creat {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* HTML: <div class="loader"></div> */
.loader {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  animation: l1 1s linear infinite alternate;
}
.loader:before {
  content: "Loading...";
}
@keyframes l1 {
  to {
    opacity: 0;
  }
}
.loading {
  display: flex;
  justify-content: center;
  margin-top: 300px;
}
.skeleton,
.wrapper {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.skeleton__item {
  width: 300px;
  height: auto;
  padding: 20px;
  border: 1px solid red;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.skeletton__images {
  width: 100%;
  height: 250px;
  background: #ddd;
  border-radius: 14px;
}

.skeleton__line {
  width: 100%;
  height: 30px;
  background: #ddd;
  margin-top: 14px;
  border-radius: 6px;
}

.skeleton__line:nth-child(3) {
  width: 80%;
}

.skeleton__line:nth-child(4) {
  width: 60%;
}

.skelete__inme {
  background: linear-gradient(90deg, #ddd, #f7f7f7, #ddd);
  background-size: 200%;
  animation: skeleton 1s linear 0s infinite;
}

@keyframes skeleton {
  to {
    background-position: 200%;
  }
}

.desck {
  font-size: 16px;
  color: #0009;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

button {
  padding: 5px 20px;
  width: 50%;
  margin: auto;
  border-radius: 5px;
  border: none;
  background: blue;
  color: #fff;
}

.semore {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(50, 50, 184);
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.collection {
  display: flex;
  list-style: none;
  overflow: auto;
  padding: 10px 50px;
  gap: 20px;
  cursor: pointer;
}

.itemm {
  font-size: 16px;
  color: #004;
  font-family: cursive;
}

.item data {
  white-space: nowrap;
}
.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meta img {
  width: 50px;
  height: 50px;
}

.creat {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.icon {
  display: flex;
  text-align: end;
}
i {
  width: 100%;
  display: flex;
}
i:hover {
  color: red;
}
